/* Importing Bootstrap SCSS file STARTS */
$container-max-widths: (
  sm: 540px,
  md: 823px,
  lg: 1030px,
  xl: 1281px
) !default;

$font-family-sans-serif:'Nunito Sans', sans-serif;
@import '~bootstrap/scss/bootstrap';
/* Importing Bootstrap SCSS file ENDS */


/* Dark Theme SCSS STARTS */
@import "~bootstrap-darkmode/darktheme";
[data-theme="dark"] {
  color:#FAFFFF;
}
/* Dark Theme SCSS ENDS */

//CUSTOM CSS
.navbar-brand{
  font-weight: 800;
}

.filters input,
.filters select{
  height: 53px;
}
